button{
  background-color:transparent;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover{
  background-color: #555555;
  color: white;
}

ul#horizontal-list {
	min-width: 20vw;
	list-style: none;
}
	ul#horizontal-list li {
		display: inline;
	}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}